.header {
    color: white;
    display: flex;
    justify-content: end;
  }
  
  .list-home {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .login-button {
    background: linear-gradient(90deg, #FFA6D1, #BDA6FF);
    border: 2px solid #FF8C00;
    box-shadow: 0 0 8px #FF8C00;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
  }
  
  .login-button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s;
  }

  .clientes{
    display: none;
  }