
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Condensed:wght@300;400;700&display=swap');

.container-parceiros{
    width: 100%;
    min-height: 100vh;
    background: url('../images/galaxy-night-landscape.jpg') center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}




.image-wrapper {
    position: relative;
    width: 350px;
    height: 300px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), white, white, rgba(0, 0, 0, 0)); */
   
    padding: 10px;
    overflow: hidden; /* Evita que qualquer conteúdo extra saia da área do container */
}

.image-ete {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir toda a área do contêiner */
    background-color: white;
    border-radius: 10px;
    
}

.title-parceiros, .title-parceiros2 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif;
}